@using JobokoAdsModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XM Ads</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="/w3/w3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" />
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.vi.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var user = ""; var API_TOKEN = "";
    @if (User.Identity.IsAuthenticated)
    {
        <text>API_URL = "@ViewBag.api_url";user = "@User.Identity.Name"; API_TOKEN = "@ViewBag.token"; </text>;

    }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">XM Ads</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="cd" asp-area="" asp-controller="chiendich" asp-action="index">Chiến dịch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="qc" asp-area="" asp-controller="quangcao" asp-action="index">Quảng cáo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="tk" asp-area="" asp-controller="tukhoa" asp-action="index">Từ khóa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="rp" asp-area="" asp-controller="chiendich" asp-action="report">Báo cáo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="log_log" asp-area="" asp-controller="log" asp-action="index">Log</a>
                        </li>

                        @if (User.IsInRole(((Role.ADMIN)).ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="" asp-area="" asp-controller="user" asp-action="index">Tài khoản</a>
                            </li>
                        }

                        <li class="nav-item dropdown logout">
                            <div class="w3-dropdown-hover">
                                <button class="w3-button w3-light">@(User.Identity.IsAuthenticated ? Html.Raw($"Chào: {User.Identity.Name}").ToString() : "")<i class="fa fa-caret-down"></i> </button>
                                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                                    <a class="nav-link text-dark w3-bar-item w3-button" href="/user/userinfo?id=@(User.Identity.Name)">Đổi thông tin</a>

                                    <a class="nav-link text-dark w3-bar-item w3-button" href="/user/logout">Thoát</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item ten_chien_dich">
                            <a class="nav-link text-dark"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - XM Ads Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>